.cursor {
    position: fixed;
    width: 120px;
    height: 120px;
    background-color: #fff;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transition: transform 0.2s ease;
    color: #484848;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }

/* styles/Home.module.css */
/* .videoWrp{
  align-content: flex-start;
    align-items: flex-start;
    border-radius: 12px;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 12px;
    height: min-content;
    justify-content: flex-start;
    overflow: visible;
    padding: 0;
    position: relative;
    transform: perspective(1200px);
    width: 416px;
    z-index: 2;
}

.videoInnerWrp{
    cursor: pointer;
    height: var(--framer-aspect-ratio-supported, 315px);
    overflow: hidden;
    position: relative;
    transform: perspective(1200px);
    width: 416px;
    will-change: var(--framer-will-change-override, transform);
    z-index: 2;

}
  .videoContainer{
    flex: none;
    inset: 0;
    pointer-events: none;
    position: absolute;
  }

 
  .video{
    cursor: auto;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    display: block;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0);
    object-position: 50% 50%;
  }

  .video{
      width: 100%;
      height: 100%;
  } */
