@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'aeonik_trialregular';
    src: url('./fonts/aeoniktrial-regular-webfont.woff2') format('woff2'),
         url('./fonts/aeoniktrial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'aeonik_trialregular';
    src: url('./fonts/aeoniktrial-regular-webfont.woff2') format('woff2'),
         url('./fonts/AeonikTRIAL-Regular.otf') format('otf');

    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.aeonik-trial-font{
    font-family: 'aeonik_trialregular';
    font-weight: 400;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Inter", sans-serif;
    color: #484848;
    font-size: 18px;
    line-height: 28px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

svg{
    display: inline-block;
}

.v-border{
    position: absolute;
    right: -22px;
    top: 1px;
    width: 1px;
    height: 100%;
    background: #2E2F30;
}
.hero_video_wraper{
    position: relative;
    width: 405px;
    height: 320px;
}

.hero-video_root_playBtn_click {
    animation: hero-video_rotateClickIcon__mz4Z7 10s linear infinite;
}
.hero_content{
    position: relative;
    z-index: 9;
}

.framer-2mnc36 {
    aspect-ratio: 1.7777777777777777 / 1;
    border-radius: 6px;
    cursor: pointer;
    flex: none;
    height: var(--framer-aspect-ratio-supported, 234px);
    overflow: hidden;
    position: relative;
    transform: perspective(1200px);
    width: 416px;
    will-change: var(--framer-will-change-override, transform);
    z-index: 2;
}
.framer-pi7s9t-container {
    flex: none;
    inset: 0;
    pointer-events: none;
    position: absolute;
}
.framer-vTgVa.framer-1z0k8hp {
    height: 234px;
    overflow: hidden;
    position: relative;
    width: 416px;
}
.framer-vTgVa.framer-1z0k8hp video{
    cursor: auto;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    display: block;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0);
    object-position: 50% 50%;
}

.video-bg-color{
    background-color: #e0e0e0;
}
.social_links li a{
    position: relative;
}
.social_links li a::after {
    position: absolute;
    content: "";
    left: 100%;
    top: -1px;
    width: 15px;
    height: 15px;
    background-image: url(../assets/right-arrow.svg);
    background-repeat: no-repeat;
    margin-left: 10px;
}

.faq-item.active .question{
    margin-bottom: 20px;
    position: relative;
}

.faq-item .question{
    position: relative;
}

.faq-item .question::before{
    position: absolute;
    content: "";
    right: 0px;
    top: 50%;
    background-image: url(../assets/plus-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.slick-slide + div{
    margin: 0px 10px;
}

.dragSlider .slick-slide + div{
    width: 462px !important;
}

.faq-item.active .question::before{
    background-image: url(../assets/minus-icon.svg);
}

.slider_progressbar {
    position: absolute;
    left: 50%;
    bottom: -50px;
    transform: translate(-50%, -50%);
}
.buttonArrow .nextArrow{
    background-color: #2E2F30;
    color: #fff;
}
.max-w-custom{
    max-width: 1800px;
}
.bootm-footer li a{
    position: relative;
    padding-left: 15px;
    margin-right: 10px;
}

.bootm-footer li a:before{
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 100%;
    left: 0px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.slick-list {
    cursor: none;
}


@keyframes hero-video_rotateClickIcon__mz4Z7 {
    0% {
        transform: translate(-50%,-50%) rotate(0)
    }

    to {
        transform: translate(-50%,-50%) rotate(1turn)
    }
}
.hero_content{
    height: 100vh;
    overflow: hidden;
  }


