@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'aeonik_trialregular';
    src: url('./fonts/aeoniktrial-regular-webfont.woff2') format('woff2'),
         url('./fonts/aeoniktrial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.aeonik-trial-font{
    font-family: 'aeonik_trialregular';
    font-weight: 400;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Inter", sans-serif;
    color: #484848;
    font-size: 18px;
    line-height: 28px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

svg{
    display: inline-block;
}

.v-border{
    position: absolute;
    right: -22px;
    top: 1px;
    width: 1px;
    height: 100%;
    background: #2E2F30;
}
.hero_video_wraper{
    position: relative;
    width: 405px;
    height: 320px;
}

.hero-video_root_playBtn_click {
    animation: hero-video_rotateClickIcon__mz4Z7 10s linear infinite;
}
.hero_content{
    position: relative;
    z-index: 9;
}
.video-bg-color{
    background-color: #e0e0e0;
}

.faq-item.active .question{
    margin-bottom: 20px;
    position: relative;
}

.faq-item .question{
    position: relative;
}

.faq-item .question::before{
    position: absolute;
    content: "";
    right: 0px;
    top: 50%;
    background-image: url(../assets/plus-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.slick-slide + div{
    margin: 0px 10px;
}

.dragSlider .slick-slide + div{
    width: 462px !important;
}

.faq-item.active .question::before{
    background-image: url(../assets/minus-icon.svg);
}

.slider_progressbar {
    position: absolute;
    left: 50%;
    bottom: -50px;
    transform: translate(-50%, -50%);
}
.max-w-custom{
    max-width: 1800px;
}
.bootm-footer li a{
    position: relative;
    padding-left: 15px;
    margin-right: 10px;
}

.bootm-footer li a:before{
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 100%;
    left: 0px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dragSlidesr .slick-list {
    cursor: none;
}

.MultipleItemSildes{
    overflow: hidden;
}

.MultipleItemSildes .slick-track{
    display: flex !important;
    align-items: center !important;
}
.MultipleItemSildes .slick-slide img{
    border-radius: 20px;
}

.verticalSlide .slick-slide + div{
    margin: 0px;
}

.verticalSlide .slick-list{
    height: 500px !important;
}


#mobile-menu{
    position: fixed;
    left: -340px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 99;
}
.mobile-menu-open #mobile-menu{
    left: 0px;
}
.mobile-menu-open .MenuToggle{
    background-color: rgba(255, 255, 255, 0.7) !important;
    color: #000 !important;
    z-index: 999;
    position: fixed;
    top: 12px;
    right: 20px;
}

.hoverIcon svg:hover path {
    fill: #FF561D;
}

nav a:hover svg path, .social_links li a:hover svg path{
    fill: #FF561D;
}

.card-hover:hover h3{
    color: #FF561D;
}

.service-card:hover{
    box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
}


/* custom select css start */
.css-13cymwt-control{
    border: none !important;
}

.css-13cymwt-control:hover{
    border-color: transparent !important;
}

.css-1n6sfyn-MenuList, .css-1nmdiq5-menu{
    padding: 0px !important;
}

.css-qbdosj-Input, .css-19bb58m{
    margin: 0px !important;
    padding: 12px 8px !important;
}

.css-1dimb5e-singleValue, .css-1jqq78o-placeholder{
    margin-left: 8px !important;
}

.css-1nmdiq5-menu{
    border-radius: 0px !important;
}

.css-1u9des2-indicatorSeparator{
    display: none !important;
}

.css-1nmdiq5-menu, .css-t3ipsp-control{
    box-shadow: none !important;
    border: none !important;
}

.css-tr4s17-option, .css-tr4s17-option:active, .css-d7l1ni-option{
    background-color: #FF561D !important;
    color: #fff !important;
}
/* custom select css end */


.inds-card{
    border-bottom: 2px dashed #DAD2C7;
    border-right: 2px dashed #DAD2C7;
}



@keyframes hero-video_rotateClickIcon__mz4Z7 {
    0% {
        transform: translate(-50%,-50%) rotate(0)
    }

    to {
        transform: translate(-50%,-50%) rotate(1turn)
    }
}

@media (min-width: 1600px) and (max-width: 1920px){
    .copyrights{
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
    }
    .h-70vh{
        height: 60vh !important;
    }
}

@media (min-width: 1366px) and (max-width: 1920px) {
    .section {
        position:sticky;
        position:-webkit-sticky;
        top: 0px;
        left: 0px;
        width: 100%;
      }
      .section.min-h{
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
}

@media (min-width:1024px) {
    .border-b-lg-none{
        border-bottom: 0px;
    }
    .h-70vh{
        height: 70vh;
    }
}


@media (min-width:768px) and (max-width:1023px) {
    .inds-card.border-r-md-none{
        border-right: 0px;
    }
}

@media (min-width:768px) {
    .inds-card.border-b-none{
        border-bottom: 0px;
    }
    .inds-card.border-r-none{
        border-right: 0px;
    }
}

@media (max-width:767px) {
    .inds-card{
        border-right: 0px;
    }
    .inds-card:last-child{
        border-bottom: 0px;
    }
}

@media (min-width: 601px) and (max-width: 767px) {
    .verticalSlide .slick-list{
        height: 320px !important;
    }
}

@media (min-width: 320px) and (max-width: 600px) {
    .verticalSlide .slick-list{
        height: 480px !important;
    }
}